.card-container {
  width: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  overflow: hidden;
  margin: 10px 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .card-container {
    width: 270px;
  }
}

.card-flex {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

@media (min-width: 768px) {
  .card-flex {
    flex-direction: row;
  }
}
.card-image-container {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.card-image {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .card-image {
    width: 5rem;
    height: 5rem;
  }
}

.card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.templateName {
  font-size: 15px;
  color: black;
  font-weight: 500;
}

.templateLocation {
  font-size: 15px;
  color: black;
  margin: 0;
}

.dateText {
  font-size: 15px;
  color: black;
}
