* {
  margin: 0;
  
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
footer-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100vw;
  
}

.container1 {
  flex: 1;
  width: 100vw;
}
.newsletter{
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: white;
  color: #007bff;
  border-radius: 2rem;
  text-align: left;
}

.contactSupport{
  display: flex;
  flex-direction: column;
  width: 70%;
  color: #007bff;
  border-radius: 2rem;
  text-align: left;
  font-size: 2rem;

}
.contactForm{
  width: 20%;
  
}
.contactInput{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(199, 187, 187);
  color: black;
  text-align: left;
  border: 0;
  border-radius: 0.5rem;
}
.inputName{
  display: flex;
  flex-direction: column;
  width: 500px;
  color: black;
  text-align: left;
  border: 0;
}
input{
  border: 0;
  /* border-bottom: 1px solid #007bff; */
  padding: 1rem;
  font-size: 1rem;
  background-color: rgb(242, 243, 244);
  border-radius: 0.5rem;
}

textarea {
  border: 0;
  border-radius: 0.5rem;
  /* border-bottom: 1px solid #007bff; */
  padding: 1rem;
  font-size: 1rem;
  background-color: rgb(242, 243, 244);
}

main {
  flex: 1;
}

footer {
  bottom: 0;
  background: white;
  color: #007bff;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

/* Bottom - copyright and legal stuff */

footer .info {
  padding: 1rem 1rem;
  display: flex;
  align-items: left;
  justify-content: space-between;
  background: rgb(29, 29, 29);
  padding-right: 100px;
  padding-left: 80px;
  color: aliceblue;
  
}
.social-icon{
  padding-top:1rem ;
  text-align: center;
  background: rgb(29, 29, 29);
}

footer .info .legal {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1rem;
}

footer .info .legal > a {
  margin-right: 15px;
}

/* Middle - social media links */

footer .social {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

footer .social:before {
  position: absolute;
  content: "";
  width: 90%;
  height: 4px;
  background: rgba(255, 255, 255, 0.192);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Top - pages, email newsletter form ... */

footer .top {
  padding: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  
}

.submit-button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  margin-top: 1rem;
}

.submit-button:hover {
  background-color: darkblue;
  color: aliceblue;
}

footer .top .pages {
  display: flex;
  flex-direction: row;
  
}



/* Responsive adjustments */
@media screen and (max-width: 768px) {
  footer .top {
    flex-direction: column;
  }
  footer .top .newsletter {
    padding-top: 1rem;
  }
  footer .top .pages ul {
    margin: 10px;
  }
}

@media screen and (max-width: 600px) {
  footer .top .pages {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  footer .info {
    flex-direction: column;
  }

  footer .info > .copyright {
    margin-top: 10px;
  }
}

@media screen and (max-width: 380px) {
  footer .top .pages {
    justify-content: center;
    flex-direction: column;
  }

  footer .info .legal {
    justify-content: center;
  }

  footer .info .legal a {
    margin: 0;
    text-align: center;
  }
}
