* {
  margin: 0;
  
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
footer-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100vw;
  
}

.container1 {
  flex: 1;
  width: 100vw;
}
.newsletter{
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: #007bff;
  color: aliceblue;
  border-radius: 2rem;
}



main {
  flex: 1;
}

footer {
  bottom: 0;
  background: white;
  color: #007bff;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

/* Bottom - copyright and legal stuff */

footer .info {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(29, 29, 29);
  padding-right: 10px;
}

footer .info .legal {
  display: flex;
  flex-wrap: nowrap;
}

footer .info .legal > a {
  margin-right: 15px;
}

/* Middle - social media links */

footer .social {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

footer .social i {
  font-size: 1.4rem;
  margin: 2px 8px;
  cursor: pointer;
}

footer .social:before {
  position: absolute;
  content: "";
  width: 90%;
  height: 1px;
  background: rgba(255, 255, 255, 0.192);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Top - pages, email newsletter form ... */

footer .top {
  padding: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.contact-form label {
  margin-bottom: 10px;
  
}

.contact-form input,
.contact-form textarea {
  padding: 0 8px 8px 0;
  margin-bottom: 16px;
}

.submit-button {
  background-color: white;
  color: blue;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 1rem;
  width: 100%;
}

.submit-button:hover {
  background-color: darkblue;
  color: aliceblue;
}


footer .top .pages {
  display: flex;
  flex-direction: row;
  
}


footer .newsletter h3 {
  margin-bottom: 10px;
}
footer .newsletter form {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  footer .top {
    flex-direction: column;
  }
  footer .top .newsletter {
    padding-top: 1rem;
  }
  footer .top .pages ul {
    margin: 10px;
  }
}

@media screen and (max-width: 600px) {
  footer .top .pages {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  footer .info {
    flex-direction: column;
  }

  footer .info > .copyright {
    margin-top: 10px;
  }
}

@media screen and (max-width: 380px) {
  footer .top .pages {
    justify-content: center;
    flex-direction: column;
  }

  footer .info .legal {
    justify-content: center;
  }

  footer .info .legal a {
    margin: 0;
    text-align: center;
  }
}
