.carousel-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    border-radius: 10px; /* Add this line */
    overflow: hidden; /* Add this line */
  }
  
  @media (min-width: 1000px) {
    .carousel-container {
      width: 50%;
    }
  }