
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #007bff;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  flex: 1;
  max-width: 1300px !important;
  margin: 0 ;
  overflow-x: hidden;
  position: relative;
}
.ContactContainer
{
  flex: 1;
  overflow-x: hidden;
}
@media (max-width: 1300px) {
  .container {
    padding: 0 ;
  }
}

@media (max-width: 1380px) {
  .container {
    padding: 0 ;
  }
}

/* RegisterPage.css */
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media (min-width: 1000px) {
  .register-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 999px) {
  .register-container > :last-child {
    display: none;
  }
}